.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #000;
}

.btn-voltar {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-voltar:hover {
  background-color: rgba(255, 255, 255, 0.9);
}



.login-image {
  flex: 1;
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  flex: 1;
  background: linear-gradient(to bottom right, #a8775b, #984F25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.login-title {
  font-family: "Aboreto", serif;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
}

input[type="email"],
input[type="password"] {
  background-color: #e7dcdc;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.lembrar-senha {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
}

.lembrar-senha input {
  margin-right: 5px;
}

.btn-login {
  background-color: #4c2815;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background 0.3s;
}

.btn-login:hover {
  background-color: #663319;
}

.btn-cadastrar {
  background-color: #7a4521;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-cadastrar:hover {
  background-color: #bb9377;
}
