.layout {
  display: flex;
  height: 100vh;
}


.home-content {
  background-image: url("/fundoHome.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Isso garante que o footer vá para baixo */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.func-box-home {
  flex: 1; /* Faz o conteúdo empurrar o footer para baixo */
}

.footer {
  margin-top: auto; /* Mantém o footer só no final da página */
}


.func-box-home {
  width: 90%;
  max-width: 900px;
  background: #c3b0a3;
  padding: 25px;
  border-radius: 15px;
  margin: 40px auto;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.18);
}




.func-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.func-top h2 {
  font-size: 26px;
  font-weight: 600;
  color: #4a3b35;
}

.btn-add {
  background: #8d5f4a;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-add:hover {
  background: #6f4a38;
}

.func-search-home {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #e9dfd7;
  padding: 8px 13px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.func-search-home input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
}

.func-table {
  width: 100%;
  border-collapse: collapse;
  background: #f5eee8;
  border-radius: 10px;
  overflow: hidden;
}

.func-table th {
  background: #e0d1c8;
  padding: 12px;
  text-align: left;
  font-weight: 600;
  color: #4b3f38;
}

.func-table td {
  padding: 12px;
  color: #4b3f38;
}

.func-table tr:nth-child(even) {
  background: #f0e7e0;
}

.btns {
  display: flex;
  gap: 8px;
}

.btns button {
  background: #4b3f38;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.btns button:hover {
  opacity: 0.8;
}

.edit {
  background: #5c7c5c;
}

.view {
  background: #6b5c7f;
}

.delete {
  background: #a84343;
}
