@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #f7f7f7;
}

/* SIDEBAR */
.sidebar {
  width: 90px;
  height: 100vh;
  background: #ffffff;
  border-right: 3px solid #8a6645;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 30px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo1 {
  font-size: 42px;
  font-weight: 600;
   font-family: "EB Garamond", serif;
  color: #b48a68;
  margin-bottom: 40px;
}


/* MENU */
.menu1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu-btn {
  width: 52px;
  height: 52px;
  border-radius: 13px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: #4a4a4a;
}

/* Destaque */
.menu-btn.active {
  background: #b48a68;
  color: white;
}

.menu-btn:hover {
  background: #e9e9e9;
}

/* ÁREA PRINCIPAL (CONTEÚDO + FOOTER) */
.home-content {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 90px);
  min-height: calc(100vh - 150px); /* deixa espaço pro footer */
}

/* BANNER */
.banner img {
  width: 100%;
  height: auto;
  display: block;
}

/* ===== MODAL OVERLAY (FUNDO ESCURECIDO) ===== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Fica acima de TUDO */
}

/* ===== MODAL CAIXA ===== */
.modal-content {
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 14px;
  width: 380px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  animation: modalShow 0.25s ease-out;
}

.modal-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #4d2e1f;
  margin-bottom: 1.8rem;
}

/* ===== BOTÕES ===== */
.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-buttons button {
  padding: 0.6rem 1.4rem;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  transition: 0.2s;
}

/* BOTÃO "SIM" */
.modal-buttons .yes {
  background: #bba396;
  color: #fff;
}

.modal-buttons .yes:hover {
  background: #a68d7e;
}

/* BOTÃO "NÃO" */
.modal-buttons .no {
  background: #ddd;
  color: #333;
}

.modal-buttons .no:hover {
  background: #c7c7c7;
}

/* ===== ANIMAÇÃO ===== */
@keyframes modalShow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
