.sidebar-func {
  width: 90px;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  border-right: 3px solid #eee;
  position: fixed;
  left: 0;
  top: 0;
}

.logo-func {
  font-size: 42px;
  font-weight: 600;
  color: #b48a68;
  margin-bottom: 40px;
}

.icons-func {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  align-items: center;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  background: transparent;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.icon-btn:hover {
  background: #e9e9e9;
}

.icon-btn.active {
  background: #b48a68;
  color: white;
}
